
<header>
    <nav class="navbar">
        <div class="navdiv"></div>
        <img class="img_logo" src="Images EcoRide/EcoRide Logo.png" alt="logo">
        <div class="logo"><a href="/"></a></div>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/covoiturages">Accès aux covoiturages</a></li>
            <li><a href="/contact">Contact</a></li>
            <a href="/connexion"><button>Connexion</button></a>
            <a href="/inscription"><button>Inscription</button></a>
           
          </ul>
        </div>
    </nav>
</header>